.Search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: calc(100vw - 6px);
    padding: 10px 3px 5px 3px;
    margin: 0;

    /* background: linear-gradient(to right, rgba(255, 230, 0, 0.4), rgba(200, 250, 0, 0.2)); */
    /* background: linear-gradient(to right,  rgba(255, 240, 150, 0.5),  rgba(255, 240, 150, 0.5)); */
    background: rgba(255, 240, 150, 0.1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    box-shadow: 0 0 1px rgba(128, 128, 128, 0.5);
}

.searchInput, .searchButton {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 12px;
    font-weight: bold;
    padding: 6px 24px;
    color: rgba(0, 0, 0, 0.8);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9));
    border: 1px solid rgba(255, 240, 150, 0.5);
}

.searchInput {
    border-radius: 5px 0 0 5px;
    margin-left: 17px;
    width: 200px;
}

.searchButton {
    background: rgba(255, 240, 150, 0.5);
    border-radius: 0 5px 5px 0;
    width: 100px
}

.SearchResult {
    position: absolute;
    left: 20px;
    margin: 0;
    padding: 8px 24px;
    background: linear-gradient(to right, rgba(255, 251, 219, 0.8), rgba(255, 251, 211, 0.5));

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 300px;
}